<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
 
<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
 <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript"
src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
 
<head>
<meta charset="utf-8">
<title>Liste des  Users</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <!-- Brand -->
 <a class="navbar-brand" href="#" style="margin-left: 10px;">Gestion Stages</a>
 <!-- Links -->
 <ul class="navbar-nav">
 <li class="nav-item">
 <a class="nav-link" th:href="@{ListeStages}" >ACCUEIL</a>
 </li>
 <!-- Dropdown -->
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
 Stages
 </a>
 <div class="dropdown-menu">
<a sec:authorize="hasAnyRole('ADMIN', 'AGENT')" class="dropdown-item"  th:href="@{showCreate}">Ajouter stage</a>
 <a class="dropdown-item" th:href="@{ListeStages}">Lister stages</a>
 </div>
 </li>
  <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
 Etudiants
 </a>
 <div class="dropdown-menu">
<a sec:authorize="hasAnyRole('ADMIN', 'AGENT')" class="dropdown-item"  th:href="@{showCreateE}">Ajouter etudiants</a>
 <a class="dropdown-item" th:href="@{ListeEtudiants}">Lister etudiants</a>
 </div>
 </li>
    <li class="nav-item dropdown" >
          <a sec:authorize="hasAnyRole('ADMIN')" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
 Users
 </a>
 <div  class="dropdown-menu">
<a sec:authorize="hasAnyRole('ADMIN')" class="dropdown-item"  th:href="@{showCreateU}">Ajouter User</a>
 <a sec:authorize="hasAnyRole('ADMIN')"  class="dropdown-item" th:href="@{ListeUsers}">Lister Users</a>
 </div >
 </li>
 </ul>
 
 <!---->
 

<form th:action="@{search2}" method="get"  class="d-flex" style="margin-left: 150px; margin-right:10px;">
        <input class="form-control me-2" type="text" placeholder="Recherche  par Type"   aria-label="Chercher"  name="keyword">
        <button class="btn btn-outline-primary"  type="submit">Chercher</button>
      </form>
  <form th:action="@{search}" method="get"  class="d-flex" style="margin-left: 0px; margin-right:20px;" >
        <input class="form-control me-2" type="text" placeholder="Recherche  par Etudiant"   aria-label="Chercher" name="keyword">
        <button class="btn btn-outline-dark"  type="submit">Chercher</button>
      </form>
       <ul class="navbar-nav ml-auto" >
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
 <span sec:authentication="name"></span>
 </a>
 
 <div class="dropdown-menu">
 <a sec:authorize="!isAuthenticated()" class="dropdown-item"
th:href="@{login}">login</a>
 <a sec:authorize="isAuthenticated()" class="dropdown-item"
th:href="@{logout}">Deconnexion</a>
 <a class="dropdown-item" href="#">Profil</a>
 </div>
 </li>
 </ul>
</nav>
<section layout:fragment="Mycontent" >
</section>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Liste des Users   <a sec:authorize="hasRole('ADMIN')"th:href="@{showCreateU}"><button class="btn btn-success " style="margin-left:850px ;" 
>Ajouter User</button></a>
  </div>

 <div class="card-body">
 
 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Nom  User</th><th>Mot de passe</th><th>Enabled<th>Role</th></th><th>Action</th><th></th>
</tr> 
 <tr th:each="u:${user}">
 <td th:text="${u.user_id}"></td>
 <td th:text="${u.username}"></td>
 <td th:text="${u.password}"></td>
  <td th:text="${u.enabled}"></td>
  <td th:each="r:${u.roles}" th:text="${r.role}"></td>
<td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-danger"
onclick="return confirm('Etes-vous sûr ?')"
th:href="@{supprimerUser(id=${u.user_id}, 
page=${currentPage},size=${size})}">Supprimer</a>
</td>
<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-info"
th:href="@{modifierUser(id=${u.user_id})}">Modifier</a></td>

 </tr> 
 </table>
    <ul class="nav nav-pills">
 <li th:each="page,status:${pages}">
 <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
 th:href="@{ ListeUsers(page=${status.index}, size=${size} ) }"
 th:text="${status.index }"></a>
 </li>
 </ul>
 </div>
</div>
</div>


</body>
</html>